amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.7
astroid==2.3.3
billiard==3.3.0.23
boto==2.49.0
cairocffi==1.1.0
CairoSVG==2.4.2
celery==3.1.26.post2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cssselect2==0.3.0
defusedxml==0.6.0
dj-database-url==0.4.1
Django==3.0.5
django-appconf==1.0.4
django-auto-one-to-one==3.3.0
django-blog-it==0.2.3
django-celery==3.2.1
django-compressor==2.4
django-debug-toolbar==1.8
django-phone-field==1.8.0
django-search-views==0.3.7
django-simple-pagination==1.1.8
django-storages==1.9.1
django-wkhtmltopdf==3.3.0
gunicorn==19.6.0
html5lib==1.0.1
idna==2.9
isort==4.3.21
kombu==3.0.37
lazy-object-proxy==1.4.3
mccabe==0.6.1
microurl==0.1.1
pdfkit==0.6.1
Pillow==7.0.0
psycopg2==2.8.5
pycparser==2.20
pylint==2.4.4
pylint-django==2.0.15
pylint-plugin-utils==0.6
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.1
pytz==2019.3
rcssmin==1.0.6
reportlab==3.5.42
requests==2.23.0
rjsmin==1.1.0
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
tinycss2==1.0.2
urllib3==1.25.8
WeasyPrint==51
webencodings==0.5.1
whitenoise==5.1.0
wrapt==1.11.2
xhtml2pdf==0.2.4
xlwt==1.3.0
